// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav ul a{
	padding: 0 20px;
	display: inline-block;
}
nav {
	height:80px;
	line-height:80px;
	background-color:#36B5C1
}

nav .brand-logo {
	position:relative;
	display:inline-block;
	max-width:auto;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 20px;
}

.btn {
	background-color: #36B5C1;
	border-radius: 50px;
	display: inline-block;
	text-transform:none;
}
