<div class="container">
  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img class= "responsive-img" src="/assets/roadtofreedom-iskqanda.jpg"></a>
    <a class="carousel-item" href="#two!"><img class="responsive-img" src="/assets/animals-beach-birds-freedom.jpg"></a>
    <a class="carousel-item" href="#three!"><img class="responsive-img" src="/assets/freedomgirl"></a>
    <a class="carousel-item" href="#four!"><img lass ="responsive-img" src="/assets/manhattan-skyline-black-and-white.jpg"></a>
  </div>
</div>
