<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    	<h1>Hi <%= @user.name %></h1>
			<p>Welcome to FinFree! Click <%= link_to "here", @url %> to sign in!
			</p>
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
